<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
        <span>Back</span>
       </a>
    </div>
    <div class="center sliding">Credits</div>
  </div>
</div>
<div class="pages">
  <div data-page="credits" class="page">
    <div class="page-content">
      <div class="content-block">
        <div class="content-block-inner">
          <p><b>Developed by the app dev team of FIRST Robotics Competition Team 4159 CardinalBotics</b></p>
          <p><center>Submit a bug/issue/glitch/anything your heart desires on <a href="https://github.com/brandonlou/CardinalScout-2016" class="external">Github!</a></center><p>
        </div>
      </div>
    </div>
  </div>
</div>
