<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">Teleop</div>
  </div>
</div>
<div class="pages">
  <div data-page="teleop" class="page no-swipeback">
    <div class="page-content">
      <div class="content-block-title">Defenses</div>
      <form name="teleopDefences" class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Portcullis</div>
                <div class="item-input">
                  <select name="portcullis">
                    <option>N/A</option>
                    <option>Available</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Cheval de Frise</div>
                <div class="item-input">
                  <select name="chevaldefrise">
                    <option>N/A</option>
                    <option>Available</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Moat</div>
                <div class="item-input">
                  <select name="moat">
                    <option>N/A</option>
                    <option>Available</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Ramparts</div>
                <div class="item-input">
                  <select name="ramparts">
                    <option>N/A</option>
                    <option>Available</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Draw Bridge</div>
                <div class="item-input">
                  <select name="drawbridge">
                    <option>N/A</option>
                    <option>Available</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Sally Port</div>
                <div class="item-input">
                  <select name="sallyport">
                    <option>N/A</option>
                    <option>Available</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Rock Wall</div>
                <div class="item-input">
                  <select name="rockwall">
                    <option>N/A</option>
                    <option>Available</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Rough Terrain</div>
                <div class="item-input">
                  <select name="roughterrain">
                    <option>N/A</option>
                    <option>Available</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Low Bar</div>
                <div class="item-input">
                  <select name="lowbar">
                    <option>Didn't Cross</option>
                    <option>Cross</option>
                    <option>Cross 2x</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="content-block-title">Crossing Notes</div>
      <form name="crossingNotes" class="list-block">
        <ul>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-comment"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <textarea class="resizable" name="notes" placeholder="Speed of crosses, assists given/recieved, etc."></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="content-block-title">High Goal</div>
      <form name="highGoal" class="list-block">
        <ul>
          <li class="align-top">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Scored</div>
                <div class="item-input">
                  <input type="tel" name="scored">
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Missed</div>
                <div class="item-input">
                  <input type="tel" name="missed">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="content-block-title">Low Goal</div>
      <form name="lowGoal" class="list-block">
        <ul>
          <li class="align-top">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Scored</div>
                <div class="item-input">
                  <input type="tel" name="scored">
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Missed</div>
                <div class="item-input">
                  <input type="tel" name="missed">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="content-block-title">Shooter Notes</div>
      <form name="shooterNotes" class="list-block">
        <ul>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-comment"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <textarea class="resizable" name="notes" placeholder="Ex. Time b/w crosses, routes"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="content-block-title">End Game</div>
      <form name="endGame" class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Tower</div>
                <div class="item-input">
                  <select name="tower">
                    <option>None</option>
                    <option>Challenge</option>
                    <option>Scale</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Scale Attempts</div>
                <div class="item-input">
                  <input type="tel" name="scaleAttempts" placeholder="0">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="content-block-title">Boulder Fed</div>
      <form name="boulderFed" class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">From</div>
                <div class="item-input">
                  <select name="from">
                    <option>Independent</option>
                    <option>HP Station</option>
                    <option>Alliance Bot</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="list-block-label">If other, please state in comments.</div>
      </form>
      <div class="content-block-title">Comments</div>
      <form name="teleopComments" class="list-block">
        <ul>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-comment"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <textarea class="resizable" name="comments" placeholder="Ex. HP? Defense bot? Issues? Fouls? etc."></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="content-block">
        <p><a href="#" class="button button-big button-fill color-green" onclick="saveTeleop()">Submit</a></p>
        <p><a href="#" class="button button-big button-fill color-red" onclick="cancelTeleop()">Cancel</a></p>
      </div>
    </div>
  </div>
</div>
